{% extends "_main.jinja" %}

{% block title %} Novy Clanok {% endblock %}

{% block main %}
{% if article %}
<form action="{{ url_for("edit_article", art_id=article.if)}}" method="post">
{% else %}
<form action="{{ url_for("add_articles")}}" method="post">
{% endif %}
	{{form.csrf_token}}
	<p>
		{{form.title.label}}
		{{form.title() }}
	</p>
	<p>
		{{form.content.label}}
		{{form.content() }}
	</p>
	<input type="submit" value="ulozit">
</form>
{% endblock %}